:root {
    --qode-main-color: #3b44cd;
    --qode-text-color: #171717;
    --qode-heading-color: #171717;
    --qode-white-color: #fff;
    --qode-black-color: #000;
    --qode-gray-color: #b1b1b1;
    --qode-dark-color: #171717;
    --qode-background-color: #fff;
    --qode-background-light-color: #f5f5f5;
    --qode-background-black-color: #000;
    --qode-background-dark-color: #171717;
    --qode-text-bg-revert-color: #fff;
    --qode-heading-bg-revert-color: #fff;
    --qode-border-color: #e2e2e2;
    --qode-header-light-color: #ffffff;
    --qode-header-light-hover-color: #b1b1b1;
    --qode-header-dark-color: #171717;
    --qode-header-dark-hover-color: #3d3d3d;
    --qode-header-height: 96px;
    --qode-top-bar-height: 0px;
    --qode-admin-bar-height: 0px;
    --qode-height-custom-offset: 0px;
    --qode-mobile-header-height: 70px
}


/******************* header css *********************/
#header{
    width: 100%;
    z-index: 1000;
    background-color: var(--qode-background-dark-color);
    transition: all 0.3s;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 48px;
}
.header-logo svg {
    fill: var(--qode-white-color);
}
.header-center .center-navlinks{
    display: flex;
    align-items: center;
    gap: 18px;
}
.header-center .center-navlinks li a{
    font-size: 22px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 9999;
}
.header-right .hi-part{
    display: flex;
    align-items: center;
    gap: 6px;
}
.header-right .hi-part span{
    display: flex;
    align-items: center;
}

.header-right .hi-part span:nth-child(1){
    font-size: 22px;
}

.menu-bar{
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (max-width:1023px) {
    .header-center .center-navlinks,.header-right .hi-part{
        display: none;
    }
    .header-content{
        padding: 12px 24px;
    }
}
@media (max-width:680px){
    .header-content{
        padding: 12px 10px;
    }
}

/* ------------- open navbar menu -----------------------*/
.menu-bar-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rebeccapurple;
    z-index: 99999;
    display: flex;
    align-items: start;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}
.menu-bar-container .menu-bar-navlink{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.menu-bar-container .menu-bar-navlink li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    width: 100%;
}
.menu-bar-container .menu-bar-navlink li:hover{
    background-color: #171717;
    color: #fff;
}
.menu-bar-container .menu-bar-navlink li a{
    display: inline-block;
    font-size: 60px;
    padding: 20px 24px;
}
.menu-bar-container .cross-icon{
    position: absolute;
    right: 10px;
    top: 20px;
    transition: all 0.5s ease;
}
.menu-bar-container .cross-icon:hover{
    cursor: pointer;
    transform: rotate(90deg);
}


/* ------------- open navbar menu -----------------------*/


/* .header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 48px;
}

.logo-dark-white-mode{
    position: relative;
        z-index: 9999;
        cursor: pointer;
}

.mode-box{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--qode-white-color);
    padding: 6px 12px;
    border-radius: 30px;
    cursor: pointer;
}

.mode-box svg {
    fill: var(--qode-white-color);
}

.navlinks{
    width: 60%;
}

.navlinks ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "IBM Plex Mono", sans-serif;
    text-transform: uppercase;
}
.navlinks ul li a{
    position: relative;
    z-index: 100;
    padding: 2px 5px;
}

.navlinks ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 0%;
    transition: width 0.4s ease;
    z-index: -1;
   
}

.navlinks ul li:hover a::before {
    width: 100%;
   
}
.navlinks ul li a:hover {
    color: var(--qode-black-color);
}


.navlinks ul li:first-child{
    background-color: white;
}
.navlinks ul li:first-child a{
    color: var(--qode-dark-color);
    padding: 1px 5px;
}
.spinner-icon svg{
    fill: var(--qode-white-color);
    transition: transform 0.8s ease;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.spinner-icon svg:hover {
    transform: rotate(360deg);
}

.logo-responsive-site{
    display: none;
} */

/*------------------------------- RESPONSIVE CSS -------------------------------*/

/* @media (max-width: 1200px) {
    .navlinks{
        display: none ;
    }
    .logo-dark-white-mode{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        
    }
    .logo-responsive-site{
        display: block;
    }
    .logo-responsive-site svg{
        fill: var(--qode-background-color);
    }
}

@media only screen and (max-width: 900px) {
    .header-section{
        padding:4px 8px;
    }
} */
/*------------------------------- RESPONSIVE CSS -------------------------------*/
